{% extends 'base.html.twig' %}

{% block title %}IQuestions - Jouer{% endblock %}

{% block body %}
    <h3>{{ quizz.Title }}</h3>
    <p> {{quizz.description}} </p>
    <img class="card-img-top" src="{{ asset('uploads/user/quizz_image/')~ quizz.ImageName }}" alt="Card image cap">
    <form>
    {% for question in questions %}
        <h5>{{ question.Wording }}</h5>
            <div>
            {% for answer in question.Answers %}
                    <input type="radio" id="{{answer}}" name="{{question.id}}" value={{answer}} required="required">
                    <label for={{answer}}>{{answer}}</label>
            {% endfor %}
            </div>
    {% endfor %}

    <input type="submit" value="Play" class="btn btn-outline-primary"/>
    </form>
{% endblock %}
