{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <style>
    ul{
        list-style-type: none;
    }

</style>
{% endblock %}

{% block title %} {{quizz.Title}} {% endblock %}

{% block body %}

<div class="container">
    <h1>Vous jouez le quizz : {{ quizz.Title }} !</h1>
    <p> {{ quizz.Description }} </p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

</div>
{% endblock %}
